<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Automation Process</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
<link href="css/login.css" rel="stylesheet">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Welcome to my DashBoard</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="main">

<section class="sign-in">
<div class="container">
<div class="signin-content">

<div class="signin-image">
<!-- <img src="src/main/resources/static/img/logo.png" width="120" th:src="@{img/pirate.jpg}" accept="img/logo.png" alt="sing up image"/> -->
<figure><img src="src/main/resources/static/img/logo.png" accept="img/logo.png" alt="sing up image" width="120"></figure>

</div>
<div class="signin-form">
<h2 class="form-title">Sign up</h2>
<form action="#" th:action="@{/login}" th:object="${user}" method="post">
<div class="form-group">
<label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
<input type="text" name="txtusername" th:field="*{username}" placeholder="Your Name" maxlength="50" />
</div>
<div class="form-group">
<label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
<input type="password" name="txtpassword" th:field="*{password}" placeholder="Password" maxlength="50" />
</div>
<div class="form-group">
<input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
<label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
</div>
<div class="form-group form-button">
<input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
</div>
</form>
</div>
</div>
</div>
</section>
</div>
</body>
</html>